<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections xdt:Transform="MergeBefore(/configuration/*)" />

  <configSections>
  </configSections>

  <connectionStrings xdt:Transform="Merge" />

  <connectionStrings>
  </connectionStrings>

  <system.web>
    <customErrors mode="On" xdt:Transform="Replace">
    </customErrors>
  </system.web>

</configuration>
