@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="http://jqwidgets.com/jquery-widgets-demo/jqwidgets/styles/jqx.base.css" />
<script src="~/Scripts/jqx-all.js"></script>


<script type="text/javascript">

    var success = function (parameters) {
        alert(parameters);
    }

    $(document).ready(function () {

        // prepare the data
        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'Id', type: 'string' },
                { name: 'Name', type: 'string' },
                { name: 'Number', type: 'number' },
                { name: 'Patronymic', type: 'string' },
                { name: 'Phone', type: 'string' },
                { name: 'Sername', type: 'string' },
                { name: 'Adress', type: 'string' },
                { name: 'Date', type: 'date' },
                { name: 'Email', type: 'string' },
            ],
            url: '/Owners/GetOwners',
            pagesize: 20,
            filter: function () {
                // update the grid and send a request to the server.
                $("#grid").jqxGrid('updatebounddata', 'filter');
            }
        };

        var linkrenderer = function (row, column, value) {
            if (value.indexOf('#') != -1) {
                value = value.substring(0, value.indexOf('#'));
            }
            
            var html = "<a href='/Pets/Create/" + value + "' > Добавить </a>";
            return html;
        }

        var dataAdapter = new $.jqx.dataAdapter(source);

        var initrowdetails = function (index, parentElement, gridElement, datarecord) {
            var details = $($(parentElement).children()[0]);

            $.ajax({
                url: "/Owners/Details/" + datarecord.Id,
                type: "POST",
                contentType: "application/json",
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var name = data[i].Nickname;
                        var id = data[i].Id;
                        var ptype = data[i].PType;
                        var breed = data[i].Species;

                        var date;
                        if (data[i].BirthDate != null) {
                            date = new Date(parseInt(data[i].BirthDate.substr(6))).getFullYear();
                        } else
                            date = '';

                        details.html("<a href='/Pets/Details/" + id + "' >" + name + "</a><br/>" +
                                      " " + ptype + ", " + breed + " " + date + "");
                    }
                },
                error: function (parameters) {
                    alert(parameters);
                }
            });
        }

        // initialize jqxGrid
        $("#grid").jqxGrid(
        {
            width: 1150,
            source: dataAdapter,
            pageable: true,
            autoheight: true,
            filterable: true,
            initrowdetails: initrowdetails,
            enabletooltips: true,
            sortable: true,
            editable: true,
            autoshowfiltericon: true,
            selectionmode: 'multiplecellsadvanced',
            rowdetails: true,
            rowdetailstemplate: { rowdetails: "<div style='margin: 10px;'></div>", rowdetailsheight: 50 },

            columns: [
                { text: "Номер", datafield: "Number", width: 50 },
                { text: "Фамилия", datafield: "Sername", width: 120 },
                { text: "Имя", datafield: "Name", width: 100 },
                { text: "Отчество", datafield: "Patronymic", width: 100 },
                { text: "Телефон", datafield: "Phone", width: 120, sortable: false },
                { text: "Адрес", datafield: "Adress", width: 200 },
                { text: "Дата приема", datafield: "Date", width: 150, cellsformat: 'd' },
                { text: "Email", datafield: "Email", width: 100 },
                { text: "", datafield: "Id", width: 160, cellsrenderer: linkrenderer, filterable: false,sortable:false }
            ]
        });
    });

</script>
@Html.ActionLink("Добавить клиента", "Create")
<div id="grid"></div>
